/* Milestones */

.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  flex: 1;

  @media (max-width: 768px) {
    .stepper-item .step-counter {
      width: 25px;
      height: 25px;
      font-size: 10px;
    }
    .step-name {
      font-size: 8px;
    }
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.step-name {
  font-size: 11px;
  font-weight: bold;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
  margin-left: 0;
}

.stepper-item.nulo .step-counter {
  background-color: #c6ccc6;
}

.stepper-item.conforme .step-counter {
  background-color: #4bb543;
}

.stepper-item.conforme::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #4bb543;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item.desconforme .step-counter {
  background-color: red;
  color: white;
  font-weight: bold;
}

.stepper-item.desconforme::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid red;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item.active {
  font-weight: bold;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}
